<div class="well">
<h3 class="text-center" data-ng-hide="editing">DATA BUKU</h3><br/><br/>
<form class="form form-horizontal">
	<div class="form-group">
		<div class="col-md-2"><input type="text" name="search" data-ng-model="search.kata"></div>
		<div class="col-md-2">
			<select class="form-control" name="jenis" data-ng-model="search.jenis">
				<option value="">--Pilih--</option>
				<option value="judul">Judul</option>
				<option value="pengarang">Pengarang</option>
				<option value="penerbit">Penerbit</option>
			</select>
		</div>
		<div class="col-md-2">
			<button type="text" class="btn btn-primary btn-md"data-ng-click="loadData()"><i class="fa fa-search"></i>  cari</button>
		</div>
	</div>
</form><br/>
<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>NO.</th>
			<th>KODE BUKU</th>
			<th>JUDUL</th>
			<th>PENGARANG</th>
			<th>SISA STOK</th>
			<th>MACAM</th>
			<th>BAHASA</th>
			<th>PENERBIT</th>
			<th>TAHUN TERBIT</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="c in db">
			<td>{{$index+1}}</td>
			<td>{{c.kode}}</td>
			<td>{{c.judul}}</td>
			<td>{{c.pengarang}}</td>
			<td>{{c.stok}}</td>
			<td>{{c.macam}}</td>
			<td>{{c.bahasa}}</td>
			<td>{{c.penerbit}}</td>
			<td>{{c.tahun}}</td>
		</tr>
	</tbody>
</table>
<ul class="pagination pagination-sm" data-ng-show=" db.length > 0">
	<li data-ng-class="{ disabled: cpagebk == 0 }"><a href="" data-ng-click="prevPagebk()">&laquo;</a></li>
	<li data-ng-repeat="n in range(numpagebk)" data-ng-class="{ active: n == cpagebk }"><a href="" data-ng-click="setPagebk()" data-ng-bind="n+1">1</a></li>
	<li data-ng-class="{ disabled: cpagebk == numpagebk - 1 }"><a href="" data-ng-click="nextPagebk()">&raquo;</a></li>
</ul>
</div>