			<div class="well">
				<h3 class="text-center" data-ng-hide="editing">
					DATA ANGGOTA
					<button class="btn btn-md btn-success pull-right" data-ng-click="editing=true"><i class="fa fa-plus"></i> Tambah Anggota</button>
				</h3>
				<h3 class="text-center" data-ng-show="editing">
					TAMBAH / EDIT ANGGOTA
					<button class="btn btn-md btn-default pull-right" data-ng-click="batal()"><i class="fa fa-mail-reply"></i> Batalkan</button>
				</h3>
				<br/><br/>
				<form class="form form-horizontal" data-ng-hide="editing">
					<div class="form-group">
						<div class="col-md-2"><input type="text" name="search" data-ng-model="search.kata"></div>
						<div class="col-md-2">
							<select class="form-control" name="jenis" data-ng-model="search.jenis">
								<option value="">--Pilih--</option>
								<option value="id">Id Anggota</option>
								<option value="no">No Identitas</option>
								<option value="nama">Nama</option>
							</select>
						</div>
						<div class="col-md-2">
							<button type="text" class="btn btn-primary btn-md" data-ng-click="loadData()"><i class="fa fa-search"></i>  cari</button>
						</div>
					</div>
				</form>
			
				<hr>				
				<form class="form form-horizontal" data-ng-show="editing">
					<div class="form-group">
						<label for="nama" class="col-md-3 col-md-offset-2">Nama</label>
						<div class="col-md-3"><input type="text" name="nama" data-ng-model="anggota.nama" placeholder="Nama" class="form-control tooltips" title="Masukkan nama"></div>
					</div>
					<div class="form-group">
						<label for="identitas" class="col-md-3 col-md-offset-2">No Identitas</label>
						<div class="col-md-3"><input type="text" name="identitas" data-ng-model="anggota.identitas" placeholder="No Identitas" class="form-control tooltips" title="Masukkan no identitas"></div>
					</div>
					<div class="form-group">
						<label for="alamat" class="col-md-3 col-md-offset-2">Alamat</label>
						<div class="col-md-4"><input type="text" name="alamat" data-ng-model="anggota.alamat"  placeholder="alamat" id="alamat" class="form-control tooltips" title="Masukkan alamat"></div>
					</div>
					<div class="form-group">
						<label for="telp" class="col-md-3 col-md-offset-2">Telp</label>
						<div class="col-md-2"><input type="text" name="telp" data-ng-model="anggota.telp"  placeholder="telp" id="telp" class="form-control tooltips" title="Masukkan telp" number-input></div>
					</div>
					<div class="form-group">
						<label for="" class="col-md-3 col-md-offset-2">Jenis Kelamin</label>
						<div class="col-md-3">
							<label><input type="radio" name="gender" value="L" data-ng-model="anggota.gender"> Laki-Laki </label> &nbsp;
							<label><input type="radio" name="gender" value="P" data-ng-model="anggota.gender"> Perempuan </label>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-md-3 col-md-offset-2">Status</label>
						<div class="col-md-3">
							<label><input type="radio" name="status" value="d" data-ng-model="anggota.status"> Dosen </label> &nbsp;
							<label><input type="radio" name="status" value="m" data-ng-model="anggota.status"> Mahasiswa </label>
						</div>
					</div>
					<div class="form-group">
						<label for="prodi" class="col-md-3 col-md-offset-2">Program Studi</label>
						<div class="col-md-3">
							<select name="prodi" id="prodi" data-ng-model="anggota.prodi" class="form-control" data-ng-options="p.kode as p.nama for p in prodi">
								<option value="">-- pilih prodi --</option>
							</select>	
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-5 col-md-offset-5"><button class="btn btn-primary btn-lg" data-loading-text="<i class='fa fa-spinner fa-spin'></i> LOADING" simpan-anggota>SIMPAN</button> <button class="btn btn-info btn-lg" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" data-ng-click="resetAnggota()">RESET</button> </div>
					</div>
				</form>
				
				<table class="table table-bordered table-striped table-hover" data-ng-hide="editing">
					<thead>
						<tr>
							<th>NO</th>
							<th>ID ANGGOTA</th>
							<th>NAMA</th>
							<th>NO IDENTITAS</th>
							<th>ALAMAT</th>
							<th>TELP</th>
							<th>JENIS KELAMIN</th>
							<th>STATUS</th>
							<th>PRODI</th>
							<th>AKSI</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="c in db">
							<td>{{(jph*cpage)+$index+1}}</td>
							<td>{{c.id}}</td>
							<td>{{c.nama}}</td>
							<td>{{c.identitas}}</td>
							<td>{{c.alamat}}</td>
							<td>{{c.telp}}</td>
							<td>{{c.jk}}</td>
							<td>{{c.level}}</td>
							<td>{{c.kd}}</td>
							<td><a href="" data-ng-click="setEdit($index)" class="btn btn-sm tooltips" title="edit data"><i class="fa fa-edit"></i></a><a href="" hapus-anggota="{{c.id}}" class="btn btn-sm tooltips" title="hapus data"><i class="fa fa-trash-o"></i></a></td>
						</tr>
						<tr>
							<td colspan="12" align=""> <i class="fa fa-edit"></i> : Edit Data  &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; <i class="fa fa-trash-o"></i> : Hapus Data</td>
						</tr>
					</tbody>
				</table>
				
				<ul class="pagination pagination-sm" data-ng-show=" ! editing && db.length > 0">
					<li data-ng-class="{ disabled: cpage == 0 }"><a href="" data-ng-click="prevPage()">&laquo;</a></li>
					<li data-ng-repeat="n in range(numpage)" data-ng-class="{ active: n == cpage }"><a href="" data-ng-click="setPage()" data-ng-bind="n+1">1</a></li>
					<li data-ng-class="{ disabled: cpage == numpage - 1 }"><a href="" data-ng-click="nextPage()">&raquo;</a></li>
				</ul>
			</div>