			<div class="well">
				<h3 class="text-center" data-ng-hide="editing">
					DATA ANGGOTA
					<button class="btn btn-md btn-primary pull-right" data-ng-click="editing=true"><i class="fa fa-plus"></i> Tambah Anggota</button>
				</h3>
				<h3 class="text-center" data-ng-show="editing">
					TAMBAH / EDIT ANGGOTA
					<button class="btn btn-md btn-default pull-right" data-ng-click="batal()"><i class="fa fa-mail-reply"></i> Batalkan</button>
				</h3>
				<hr>
				
				<form class="form form-horizontal" data-ng-show="editing">
					<div class="form-group">
						<label for="nama" class="col-md-3">Nama</label>
						<div class="col-md-3"><input type="text" name="nama" data-ng-model="anggota.nama" placeholder="Nama" class="form-control tooltips" title="Masukkan nama"></div>
					</div>
					<div class="form-group">
						<label for="identitas" class="col-md-3">No Identitas</label>
						<div class="col-md-3"><input type="text" name="identitas" data-ng-model="anggota.identitas" placeholder="No Identitas" class="form-control tooltips" title="Masukkan no identitas"></div>
					</div>
					<div class="form-group">
						<label for="alamat" class="col-md-3">Alamat</label>
						<div class="col-md-3"><textarea class="form-control" name="alamat" rows="1" id="alamat"data-ng-model="anggota.alamat" class="form-control tooltips" title="Masukkan alamat"></textarea></div>
					</div>
					<div class="form-group">
						<label for="telp" class="col-md-3">Telp</label>
						<div class="col-md-3"><input type="text" name="telp" data-ng-model="anggota.telp"  placeholder="telp" id="telp" class="form-control tooltips" title="Masukkan telp"></div>
					</div>
					<div class="form-group">
						<label for="" class="col-md-3">Jenis Kelamin</label>
						<div class="col-md-3">
							<label><input type="radio" name="gender" value="Laki-Laki" data-ng-model="anggota.gender">Laki-Laki </label>
							<label><input type="radio" name="gender" value="Perempuan" data-ng-model="anggota.gender">Perempuan </label>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-md-3">Status</label>
						<div class="col-md-3">
							<label><input type="radio" name="status" value="dosen" data-ng-model="anggota.status">Dosen </label>
							<label><input type="radio" name="status" value="mahasiswa" data-ng-model="anggota.status">Mahasiswa </label>
						</div>
					</div>
					<div class="form-group">
						<label for="prodi" class="col-md-3">Program Studi</label>
						<div class="col-md-3">
						<!--	<select name="prodi" id="prodi" data-ng-model="anggota.prodi" class="form-control" data-ng-options="p.kode as p.prodi for p in prodi">
								<option value="{{p.kode}}">{{p.prodi}}</option>-->
							<select name="prodi">
								<option value="1">Teknik Informatika</option>
								<option value="2">Teknik Sipil</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-5 col-md-offset-3"><button class="btn btn-primary btn-lg" data-loading-text="<i class='fa fa-spinner fa-spin'></i> LOADING" simpan-anggota>SIMPAN</button></div>
					</div>
				</form>
				
				<table class="table table-bordered table-striped table-hover" data-ng-hide="editing">
					<thead>
						<tr>
							<th>NO</th>
							<th>ID ANGGOTA</th>
							<th>NAMA</th>
							<th>NO IDENTITAS</th>
							<th>ALAMAT</th>
							<th>TELP</th>
							<th>JENIS KELAMIN</th>
							<th>STATUS</th>
							<th>PRODI</th>
							<th>AKSI</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="c in db">
							<td>{{$index+1}}</td>
							<td>{{c.id}}</td>
							<td>{{c.nama}}</td>
							<td>{{c.identitas}}</td>
							<td>{{c.alamat}}</td>
							<td>{{c.telp}}</td>
							<td>{{c.gender}}</td>
							<td>{{c.status}}</td>
							<td>{{c.kd}}</td>
							<td>aksi</td>
						</tr>
					</tbody>
				</table>
			</div>