			<div class="well">
				<div data-ng-show="detail">
					<h3 class="text-center">DETAIL BUKU
						<button class="btn btn-md btn-default pull-right" data-ng-click="batal()"><i class="fa fa-mail-reply"></i> Kembali</button>
					</h3>
				</div>
				<h3 class="text-center" data-ng-show="!editing && !detail">
					DATA BUKU 
					<button class="btn btn-md btn-success pull-right" data-ng-click="editing=true"><i class="fa fa-plus"></i> Tambah Buku</button>
				</h3>
				<h3 class="text-center" data-ng-show="editing">
					TAMBAH / EDIT BUKU
					<button class="btn btn-md btn-default pull-right" data-ng-click="batal()"><i class="fa fa-mail-reply"></i> Batalkan</button>
				</h3><br/><br/>
				
				<form class="form form-horizontal" data-ng-show=" ! editing && ! detail">
					<div class="form-group">
						<div class="col-md-2"><input type="text" name="search" data-ng-model="search.kata"></div>
						<div class="col-md-2">
							<select class="form-control" name="jenis" data-ng-model="search.jenis">
								<option value="">--Pilih--</option>
								<option value="kode">Kode</option>
								<option value="isbn">ISBN</option>
								<option value="judul">Judul</option>
								<option value="pengarang">Pengarang</option>
								<option value="penerbit">Penerbit</option>
							</select>
						</div>
						<div class="col-md-2">
							<button type="text" class="btn btn-primary btn-md" data-ng-click="loadDataBuku()"><i class="fa fa-search"></i>  cari</button>
						</div>
					</div>
				</form>
				<hr>
				
				<form class="form form-horizontal" data-ng-show="editing">
					<div class="form-group" data-ng-show="buku.kode!=''">
						<label for="kode" class="col-md-3 col-md-offset-2">Kode Buku</label>
						<div class="col-md-3"><input type="hidden" name="namalm" class="form-control tooltips" data-ng-model="buku.sampul" readonly><input type="text" name="kode" data-ng-model="buku.kode" placeholder="Kode Buku" id="kode" class="form-control tooltips" title="Masukkan kode buku" readonly ></div>
					</div>
					<div class="form-group">
						<label for="isbn" class="col-md-3 col-md-offset-2">ISBN Buku</label>
						<div class="col-md-3"><input type="text" name="isbn" data-ng-model="buku.isbn" placeholder="ISBN Buku" id="kode" class="form-control tooltips" title="Masukkan isbn buku"></div>
					</div>
					<div class="form-group">
						<label for="isbn" class="col-md-3 col-md-offset-2">Sampul Buku</label>
						<div class="col-md-3">
							<span class="btn btn-success btn-file">
								<i class="fa fa-fw fa-upload"></i>
								<span> Pilih Sampul Buku</span>	<input type="file" name="nama" id="nama" title="Masukkan file" input-file>  
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="judul" class="col-md-3 col-md-offset-2">Judul</label>
						<div class="col-md-3"><input type="text" name="judul" data-ng-model="buku.judul" placeholder="Judul Buku" id="judul" class="form-control tooltips" title="Masukkan judul buku"></div>
					</div>
					<div class="form-group">
						<label for="pengarang" class="col-md-3 col-md-offset-2">Pengarang</label>
						<div class="col-md-4"><input type="text" name="pengarang" data-ng-model="buku.pengarang"  placeholder="pengarang" id="pengarang" class="form-control tooltips" title="Masukkan pengarang"></div>
					</div>
					<div class="form-group" data-ng-show="buku.kode==''">
						<label for="stok" class="col-md-3 col-md-offset-2">Stok</label>
						<div class="col-md-2"><input type="text" name="stok" data-ng-model="buku.stok"  placeholder="stok" id="stok" class="form-control tooltips" title="Masukkan Stok" number-input></div>
					</div>
					<div class="form-group">
						<label for="macam" class="col-md-3 col-md-offset-2">Macam</label>
						<div class="col-md-3">
							<select class="form-control" name="macam" id="macam" data-ng-model="buku.macam" required >
								<option value="">--Pilih Macam Buku--</option>
								<option value="U">U</option>
								<option value="R">R</option>
								<option value="LL">LL</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="bhs" class="col-md-3 col-md-offset-2">Bahasa</label>
						<div class="col-md-3">
							<select class="form-control" name="bahasa" id="bhs" data-ng-model="buku.bahasa" required >
								<option value="">--Pilih Bahasa Buku--</option>
								<option value="Indonesia">Indonesia</option>
								<option value="Inggris">Inggris</option>
								<option value="LL">LL</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="prodi" class="col-md-3 col-md-offset-2">No Klasifikasi Buku</label>
						<div class="col-md-3"><input type="text" name="penempatan" data-ng-model="buku.penempatan" placeholder="No Klasifikasi Buku" class="form-control tooltips" title="Masukkan no klasifikasi">
						</div>
					</div>
					<div class="form-group">
						<label for="nama" class="col-md-3 col-md-offset-2">Penerbit</label>
						<div class="col-md-3"><input type="text" name="nama" data-ng-model="buku.penerbit" placeholder="Penerbit" class="form-control tooltips" title="Masukkan penerbit"></div>
					</div>
					<div class="form-group">
						<label for="thn" class="col-md-3 col-md-offset-2">Tahun Terbit</label>
						<div class="col-md-2"><input type="text" name="tahun" data-ng-model="buku.tahun"  placeholder="tahun terbit" id="thn" class="form-control tooltips" title="Masukkan tahun terbit" number-input maxlength="4"></div>
					</div>
					<div class="form-group">
						<div class="col-md-5 col-md-offset-5"><button class="btn btn-primary btn-lg" data-loading-text="<i class='fa fa-spinner fa-spin'></i> LOADING" simpan-buku>SIMPAN</button> <button class="btn btn-info btn-lg" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" data-ng-click="resetBuku()">BATAL</button> </div>
					</div>
				</form>
				
				<table class="table table-bordered table-striped table-hover" data-ng-show=" ! editing && ! detail">
					<thead>
						<tr>
							<th>NO.</th>
							<th>KODE BUKU</th>
							<th>ISBN BUKU</th>
							<th>SAMPUL BUKU</th>
							<th>JUDUL</th>
							<th>PENGARANG</th>
							<th>KLASIFIKASI</th>
							<th>TERPINJAM</th>
							<th>AKSI</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="c in dbBuku">
							<td>{{(jph*cpagebk)+$index+1}}</td>
							<td>{{c.kode}}</td>
							<td>{{c.isbn}}</td>
							<td><img data-ng-src="{{server}}/{{c.sampul}}" style="width:50px; height:50px"></td>
							<td>{{c.judul}}</td>
							<td>{{c.pengarang}}</td>
							<td>{{c.pn}}</td>
							<td>{{c.jumlah}}</td>
							<td>
								<a data-ng-href="{{server}}/cetak/buku/{{c.kode}}" target="_blank" class="btn btn-sm tooltips" title="cetak kartu buku"><i class="fa fa-print"></i></a>
								<a href="" data-ng-click="tampilDetail(c.kode)" class="btn btn-sm tooltips" title="detail data"><i class="fa fa-th-list"></i></a>
								<a href="" data-ng-click="setEdit($index)" class="btn btn-sm tooltips" title="edit data"><i class="fa fa-edit"></i></a>
								<a href="" hapus-buku="{{c.id}}" class="btn btn-sm tooltips" title="hapus data"><i class="fa fa-trash-o"></i></a>
							</td>
						</tr>
						<tr>
							<td colspan="8" align=""> <i class="fa fa-th-list"></i> : Detail Data  &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; <i class="fa fa-edit"></i> : Edit Data  &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; <i class="fa fa-trash-o"></i> : Hapus Data</td><td>&nbsp;</td>
						</tr>
					</tbody>
				</table>
				<ul class="pagination pagination-sm" data-ng-show=" ! editing && dbBuku.length > 0" data-ng-hide="detail">
					<li data-ng-class="{ disabled: cpagebk == 0 }"><a href="" data-ng-click="prevPagebk()">&laquo;</a></li>
					<li data-ng-repeat="n in range(numpagebk)" data-ng-class="{ active: n == cpagebk }"><a href="" data-ng-click="setPagebk()" data-ng-bind="n+1">1</a></li>
					<li data-ng-class="{ disabled: cpagebk == numpagebk - 1 }"><a href="" data-ng-click="nextPagebk()">&raquo;</a></li>
				</ul>
				<div class="pull-right">
					<a data-ng-href="{{server}}/cetakpdf/buku?jenis={{search.jenis}}&kata={{search.kata}}" target="_blank" class="btn btn-sm tooltips" title="cetak kartu anggota">
						<button class="btn btn-md btn-info " data-ng-show="dbBuku.length>0 && !editing && !detail"><i class="fa fa-file-pdf-o"></i> Cetak Pdf</button>
					</a>
				</div>
				
				<div data-ng-show="detail && ! editing">
					<div class="">
						<table class="table" data-ng-repeat="c in dataDetail">
							<tr><td rowspan="11" width="30%"><img data-ng-src="{{server}}/{{c.sampul}}" style="max-width:250px; max-height:370px"></td><td width="15%">KODE BUKU</td><td>:</td><td width="">{{c.kode}}</td></tr>
							<tr><td>ISBN BUKU</td><td>:</td><td>{{c.isbn}}</td></tr>
							<tr><td>JUDUL</td><td>:</td><td>{{c.judul}}</td></tr>
							<tr><td>PENGARANG</td><td>:</td><td>{{c.pengarang}}</td></tr>
							<tr><td>KLASIFIKASI BUKU</td><td>:</td><td>{{c.penempatan}}</td></tr>
							<tr><td>MACAM</td><td>:</td><td>{{c.macam}}</td></tr>
							<tr><td>BAHASA</td><td>:</td><td>{{c.bahasa}}</td></tr>
							<tr><td>PENERBIT</td><td>:</td><td>{{c.penerbit}}</td></tr>
							<tr><td>TAHUN TERBIT</td><td>:</td><td>{{c.tahun}}</td></tr>
							<tr><td colspan="4">&nbsp;</td></tr>
						</table>
					</div>
					<h4 class="text-center" data-ng-show="dataPinjam.length > 0" >PEMINJAM BUKU</h4><br/>
					<table class="table table-bordered table-striped table-hover" data-ng-show="dataPinjam.length > 0">
						<thead>
							<tr>
								<th>NO.</th>
								<th>ID ANGGOTA</th>
								<th>NO IDENTITAS</th>
								<th>NAMA ANGGOTA</th>
								<th>STATUS ANGGOTA</th>
								<th>TGL PINJAM</th>
								<th>TGL KEMBALI</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="c in dataPinjam">
								<td>{{$index+1}}</td>
								<td>{{c.idan}}</td>				
								<td>{{c.noid}}</td>				
								<td>{{c.nama}}</td>				
								<td>{{c.status}}</td>				
								<td>{{c.tgl_pinjam}}</td>				
								<td>{{c.tgl_kembali}}</td>		
							</tr>
						</tbody>
					</table>
				</div>