<div class="well">
	<div class="row">
		<div class="col">
			<ul class="nav nav-tabs">
				<li class="active"><a href="" data-target="#aplikasi" data-toggle="tab"><span class="fa fa-fw fa-dekstop"></span> Aplikasi</a></li>
				<li><a href="" data-target="#prodi" data-toggle="tab"><span class=""></span> Prodi</a></li>
				<li><a href="" data-target="#akun" data-toggle="tab"><span class=""></span> Akun</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col-md-10">
			<div class="tab-content active">
				<div class="tab-pane active" id="aplikasi" >
					<form class="form form-horizontal">
						<div class="form-group">
							<label for="jumlah" class="col-md-3 col-md-offset-2">Jumlah Maksimal Buku</label>
							<div class="col-md-3"><input type="text" name="jumlah" data-ng-model="dbAp.jumlah" number-input id="jumlah" class="form-control tooltips" title="Maksimal Buku"></div>
						</div>
						<div class="form-group">
							<label for="denda" class="col-md-3 col-md-offset-2">Nominal Denda</label>
							<div class="col-md-3"><input type="text" name="denda" data-ng-model="dbAp.denda" number-input  id="denda" class="form-control tooltips" title="Nominal Denda"></div>
						</div>
						<div class="form-group">
							<label for="lama" class="col-md-3 col-md-offset-2">Lama Pinjam</label>
							<div class="col-md-3"><input type="text" name="lama" data-ng-model="dbAp.lama" number-input  id="lama" class="form-control tooltips" title="Lama Pinjam"></div>
						</div>
						<div class="form-group">
							<div class="col-md-5 col-md-offset-5"><button class="btn btn-primary btn-lg" data-loading-text="<i class='fa fa-spinner fa-spin'></i> LOADING" simpan-ap>UBAH</button></div>
						</div>
					</form>
				</div>
				<div class="tab-pane" id="prodi">
					<h3 class="text-center" data-ng-hide="editing">
						DATA PROGRAM STUDI
						<button class="btn btn-md btn-success pull-right" data-ng-click="editing=true"><i class="fa fa-plus"></i> Tambah Prodi</button>
					</h3>
					<h3 class="text-center" data-ng-show="editing">
						TAMBAH / EDIT PRODI
						<button class="btn btn-md btn-default pull-right" data-ng-click="batal()"><i class="fa fa-mail-reply"></i> Batalkan</button>
					</h3>
					<br/><br/>			
					<hr>				
					<form class="form form-horizontal" data-ng-show="editing">
						<div class="form-group">
							<label for="nama" class="col-md-3 col-md-offset-2">Nama</label>
							<div class="col-md-3"><input type="text" name="nama" data-ng-model="anggota.nama" placeholder="Nama" class="form-control tooltips" title="Masukkan nama"></div>
						</div>
						<div class="form-group">
							<div class="col-md-5 col-md-offset-5"><button class="btn btn-primary btn-lg" data-loading-text="<i class='fa fa-spinner fa-spin'></i> LOADING" simpan-anggota>SIMPAN</button> <button class="btn btn-info btn-lg" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" data-ng-click="resetAnggota()">RESET</button> </div>
						</div>
					</form>
					
					<table class="table table-bordered table-striped table-hover" data-ng-hide="editing">
						<thead>
							<tr>
								<th>NO</th>
								<th>KODE PRODI</th>
								<th>PRODI</th>
								<th>AKSI</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="c in db">
								<td>{{(jph*cpage)+$index+1}}</td>
								<td>{{c.id}}</td>
								<td>{{c.nama}}</td>
								<td><a href="" data-ng-click="setEdit($index)" class="btn btn-sm tooltips" title="edit data"><i class="fa fa-edit"></i></a><a href="" hapus-anggota="{{c.id}}" class="btn btn-sm tooltips" title="hapus data"><i class="fa fa-trash-o"></i></a></td>
							</tr>
							<tr>
								<td colspan="12" align=""> <i class="fa fa-edit"></i> : Edit Data  &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; <i class="fa fa-trash-o"></i> : Hapus Data</td>
							</tr>
						</tbody>
					</table>
			
				</div>
				<div class="tab-pane" id="akun">
					akun
				</div>
			</div>
		</div>
	</div>
</div>