<div class="well">
	<h3 class="text-center" data-ng-hide="editing">DATA FILE </h3><br/>
	<form class="form form-horizontal" data-ng-hide="editing">
		<div class="form-group">
			<div class="col-md-3"><input type="text" name="search" data-ng-model="search.kata"></div>
			<div class="col-md-3">
				<select class="form-control" name="jenis" data-ng-model="search.jenis">
					<option value="">--Pilih--</option>
					<option value="judul">Judul</option>
					<option value="pengarang">Pengarang</option>
					<option value="penerbit">Penerbit</option>
				</select>
			</div>
			<div class="col-md-2">
				<button type="text" class="btn btn-primary btn-md" data-ng-click="loadData()"><i class="fa fa-search"></i>  cari</button>
			</div>
		</div>
	</form><br/>

	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>NO.</th>
				<th>JUDUL</th>
				<th>PENGARANG</th>
				<th>MACAM</th>
				<th>BAHASA</th>
				<th>PENERBIT</th>
				<th>TAHUN TERBIT</th>
				<th>TGL UPLOAD</th>
				<th>RINGKASAN</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="c in db">
				<td>{{$index+1}}</td>
				<td>{{c.judul}}</td>
				<td>{{c.pengarang}}</td> 
				<td>{{c.macam}}</td>
				<td>{{c.bahasa}}</td>
				<td>{{c.penerbit}}</td>
				<td>{{c.tahun}}</td>
				<td>{{c.tgl}}</td>
				<td>{{c.ringkasan}}</td>
			</tr>
		</tbody>
	</table>
	<ul class="pagination pagination-sm" data-ng-show=" db.length > 0">
		<li data-ng-class="{ disabled: cpagefl == 0 }"><a href="" data-ng-click="prevPagefl()">&laquo;</a></li>
		<li data-ng-repeat="n in range(numpagefl)" data-ng-class="{ active: n == cpagefl }"><a href="" data-ng-click="setPagefl()" data-ng-bind="n+1">1</a></li>
		<li data-ng-class="{ disabled: cpagefl == numpagefl - 1 }"><a href="" data-ng-click="nextPagefl()">&raquo;</a></li>
	</ul>
</div>